
.main-title {
    color : white;
    margin-left : 76px;
    margin-bottom : -30px;
}

.main-poster {
    margin : 50px;
    padding-left : 30px;
}

.custom-slider-item {
    position: relative;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center; /* 이미지가 잘 중앙에 오도록 설정 */
}

.slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0.5); /* 배경색을 반투명하게 */
    border-radius: 50%; /* 원형 버튼 */
    padding: 10px; /* 버튼 크기 */
    z-index: 10; /* 슬라이드 위에 표시되도록 */
    display: block;
}

.slick-prev {
    left: 10px; /* 왼쪽 화살표 위치 */
}

.slick-next {
    right: 10px; /* 오른쪽 화살표 위치 */
}

.slick-prev:before, .slick-next:before {
    color: red; /* 화살표 색상 */
    font-size: 20px; /* 화살표 크기 */
}

.slick-slider {
    position: relative; /* 화살표가 위치할 공간 확보 */
    margin : 50px;
    padding-left : 30px;
}

.slick-slide img {
    width: 90%;
    margin: 0 auto;
}

.slider-item img {

}

.custom-slider-image {
    width: 267px;
    height: 400px;
}