.scroll__container{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
}
.top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #ccc;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.top img {
    /*width: 100%; !* 버튼 내부를 가득 채움 *!*/
    /*height: 100%;*/
    /*background: transparent; !* 이미지 배경도 투명하게 *!*/
    width: 80%;  /* 부모 안에 잘 들어오도록 조정 */
    height: 80%;
    object-fit: contain;
    display: block;
    pointer-events: none; /* img가 이벤트를 가로채지 않도록 설정 */
}

.top:hover{
    color :rgb(142, 26, 26);
}
