.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: black;
    position: fixed; /* Footer를 화면 하단에 고정 */
    bottom: 0; /* 화면 하단에 고정 */
    width: 100%; /* 화면 너비에 맞게 */
    color: white;
    height: 100px; /* 고정된 높이 */
    z-index: 10; /* 다른 요소들보다 위로 배치 */
}


.logo img {
    width: 60px;
    height: 40px; /* 로고 크기 조절 */
}

p {
    color: white;
}
