/* 🔹 footer.module.css */
.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer .logo img {
    height: 40px;
}

.box_in {
    font-size: 14px;
    margin-top: 10px;
}

.box_in p {
    margin: 5px 0;
}
