/* 1️⃣ 전체 페이지 레이아웃 */
body {
  background-color: #f8f9fa; /* Bootstrap의 기본 배경과 일치 */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/*.App {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh; */
/*}*/

/*.main-content {*/
/*  flex: 1;*/
/*}*/
